.main {
    display: flex;
    gap: 50px;
    margin-left: 300px;
    margin-top: 100px;
    text-align: center;
}
 
.second {
    width: 300px;
    height: 500px;
    background-color: aquamarine;
    padding-top: 30px;
    font-size: 30px;
}

.third {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    /* margin-top: 100px; */
    background-color: rgb(176, 222, 76);
    
}

img {
    width: 250px;
    height: 300px;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(13, 131, 131);
}